/* Basic CSS reset */
body,img,p,h1,h2,h3,h4,h5,h6,ul,ol {
	margin: 0;
	padding: 0;
	list-style: none;
	border: none;
}

body {
	font-size: 0.8em;
	font-family: Arial, Verdana, Sans-Serif;
	background: #ddd;
}

#main {
	width: 100%;
	margin-left:1em;
}

#header {
	width: 100%;
	height: 120px;
	background: #bbb;
	margin-bottom: 1em;
}

#header h1 {
	color: #aaa;
	padding: 1em;
}

.portlet-header h3 {
	font-family: 'times new roman', times, serif;
	font-style: italic;
	color: orange;
}

.portlet-header h3, .portlet-content p {
	padding:0.5em;
}

.column {
	width: 33%;
	float: left;
	padding-bottom: 100px;
}

.portlet {
	background: white;
	margin: 0 1em 1em 0;
}

/*
.portlet-header {
	margin: 0.3em;
	padding-bottom: 4px;
	padding-left: 0.2em;
}

.portlet-header .ui-icon {
	float: right;
}

.portlet-content {
	padding: 0.4em;
} */

.ui-sortable-placeholder {
	border: 3px dashed #bbb;
	background: #ddd;
	visibility: visible !important;
}

.ui-sortable-placeholder * {
	visibility: hidden;
}

.move {
	cursor:move;
}